// ベース背景
$color-bg-baseGlay:#fafafa;
$color-bg-baseWhite:#fff;
$color-bg-gold:#8B6C3A;
$color-bg-black:#393327;



// テキスト色
$color-font-black:#393327;
$color-font-white:#fff;
$color-font-gold:#8B6C3A;

// その他背景色
// $color-bg-btnGold:#fff;

// マーカー line
// $color-marker:#ff6;
$color-underLine:#000;


// タグ
// $color-tag-font:#fff;
// $color-tag-bg:#000;


// 透過度
// $opacity:0.6;
// $color-attention:#dc4e41;

// ロゴ
// $color-logo:#404040;
// $color-logo-em:#e65100;

// アイコン
// $color-html5:#e44d26;
// $color-wordpress:#0073aa;
// $color-responsive:#ffd966;

// 背景
// $color-bg:#fff;
// $color-bg-table:#ffecb3;
// $color-bg-mv:#ffecb3;
// $color-bg-mv2:#ffffcd;
// $color-bg-footer:#333;